.pause-btn-main {
  width: 50px;
  height: 50px;
  border: none;
  text-align: center;
  border-radius: 50% !important;
  transform: translate(-50%, -50%) !important;
  left: 50% !important;
  top: 50% !important;
  position: absolute !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 193, 7, 0.494);
  border-radius: 50% !important;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.pause-btn-icon {
  color: black;
  font-size: 1.2rem;
  margin-left: 1px;
  transition: background-color 0.3s ease;
}

.pause-btn-main:hover {
  background-color: rgba(0, 0, 0, 0.494);
}

.pause-btn-main:hover .pause-btn-icon {
  color: #ffc107;
}

@media only screen and (max-width: 500px) {
  .pause-btn-main {
    width: 40px;
    height: 40px;
  }
  .pause-btn-icon {
    font-size: 1rem;
    margin-left: 3px;
  }
}

@media only screen and (max-width: 380px) {
  .pause-btn-main {
    width: 37px;
    height: 37px;
  }
  .pause-btn-icon {
    font-size: 1rem;
    margin-left: 3px;
  }
}
