.carousel-wrapper {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
  gap: 40px 10px;
  padding: 0px 2.8rem;
}
  .partener-main {
    max-width: 410px;
    height: 450px;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 6px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: center;
  }
  
  .partener-border-img {
    position: absolute;
    right: 20px;
    top: -22px;
  }
  
  .partener-image-content-wraper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1.2rem;
  }
  .partener-card-img {
    width: 100%;
  }
  .partener-content-para {
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 0px;
  }
  
  .partener-content-title {
    width: 100%;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 0px;
    text-align: left;
  }

  @media only screen and (max-width: 900px) {
    .partener-main {
      height: auto;
    }
  }
  @media only screen and (max-width: 800px) {
    .carousel-wrapper{
      padding: 0px 1rem;
    }
  }

  
  